Repository technote-space/test-travis, pull requests merged in 2019-06, with the labels that each got.

#4 fix: sh file path
  tests/bin/coverage.sh
Labels: Priority: High, Type: Bug

#6 fix: codacy issues (#2)
  tests/bin/php/install-wp-tests.sh
Labels: Type: Maintenance

#7 fix: coverage commands (#3)
  composer.json
  tests/bin/coverage.sh
Labels: Type: Bug

#8 fix: replace pattern (#2)
  tests/bin/php/install-wp-tests.sh
Labels: Type: Bug

#9 fix: execute coveralls after finished specific test (#3)
  .travis.yml
  tests/bin/coverage.sh
  tests/bin/js/js-test.sh
  tests/bin/php/wp-test.sh
Labels: Priority: High, Type: Bug

#5 Release/v0.0.2
  .travis.yml
  README.md
  autoload.php
  composer.json
  phpunit.xml
  src/classes/models/sample.php
  tests/bin/coverage.sh
  tests/bin/js/install-npm.sh
  tests/bin/js/js-lint.sh
  tests/bin/js/js-test.sh
  tests/bin/php/install-composer.sh
  tests/bin/php/install-wp-tests.sh
  tests/bin/php/phpcs.sh
  tests/bin/php/phpmd.sh
  tests/bin/php/setup-wp-tests.sh
  tests/bin/php/wp-test.sh
Labels: Type: Release

#10 Add a Codacy badge to README.md
  README.md
Labels: Type: Documentation

#14 fix: create database if not exists (#11)
  tests/bin/php/install-wp-tests.sh
Labels: Type: Maintenance

#13 feat: update settings
  .gitattributes
  .gitignore
  composer.lock
  phpunit.xml
Labels: Priority: Low, Type: Feature

#15 feat: add deploy behavior (#12)
  .travis.yml
  tests/bin/deploy/create_files.sh
Labels: Type: Feature

#16 Release/v0.0.3
  .travis.yml
  assets/js/package.json
  assets/js/src/helpers/misc.js
  assets/js/src/helpers/params.js
  composer.json
  tests/bin/deploy/create_files.sh
  tests/bin/js/install-npm.sh
  tests/bin/js/js-lint.sh
  tests/bin/js/js-test.sh
  tests/bin/php/install-composer.sh
  tests/bin/php/install-wp-tests.sh
  tests/bin/php/phpcs.sh
  tests/bin/php/phpmd.sh
  tests/bin/php/setup-wp-tests.sh
  tests/bin/php/wp-test.sh
Labels: Type: Release

#17 fix: travis setting
  .travis.yml
Labels: Priority: High, Type: Maintenance

#18 fix: No rule to make target `test'
  .travis.yml
Labels: Priority: High, Type: Maintenance

#19 fix: typo
  .travis.yml
Labels: Type: Release

#20 fix: absolute path to relative path
  tests/bin/deploy/create_files.sh
Labels: Type: Release

#21 Release/v0.0.8
  .travis.yml
  composer.json
  tests/bin/deploy/create.sh
  tests/bin/deploy/env.sh
Labels: Type: Release

#22 feat: update deploy key
  .travis.yml
Labels: Type: Release

#23 feat: v0.0.10
  .travis.yml
  autoload.php
  composer.json
  readme.txt
  tests/bin/deploy/env.sh
Labels: Type: Release

#24 Release/v0.0.11
  .travis.yml
  composer.json
  tests/bin/deploy/clear_work_dir.sh
  tests/bin/deploy/create.sh
  tests/bin/deploy/env.sh
  tests/bin/deploy/prepare_release_files.sh
  tests/bin/deploy/prepare_svn.sh
  tests/bin/deploy/wp-check-diff.sh
  tests/bin/deploy/wp-release.sh
  tests/bin/js/install-npm.sh
  tests/bin/js/js-lint.sh
  tests/bin/js/js-test.sh
  tests/bin/php/install-composer.sh
  tests/bin/php/install-wp-tests.sh
  tests/bin/php/phpcs.sh
  tests/bin/php/phpmd.sh
  tests/bin/php/setup-wp-tests.sh
  tests/bin/php/wp-test.sh
  tests/bin/test.sh
Labels: Type: Release

#25 ci: test
  .travis.yml
Labels: Type: Release

#26 ci: test
  .travis.yml
Labels: Type: Release

#27 ci: test
  tests/bin/deploy/env.sh
  tests/bin/deploy/wp-release.sh
Labels: Type: Release

#28 feat: travis ci
  .travis.yml
  assets/js/package.json
  composer.json
  tests/bin/deploy/env.sh
  tests/bin/deploy/wp-release.sh
  tests/bin/js/js-test.sh
  tests/bin/test.sh
Labels: Type: Release

#29 fix: commit message
  .travis.yml
  tests/bin/deploy/env.sh
Labels: Type: Release

#30 fix: commit message
  .travis.yml
Labels: Type: Release

#31 ci: test
  .travis.yml
  tests/bin/deploy/env.sh
  tests/bin/deploy/wp-release.sh
Labels: Type: Release

#33 feat: Release/v0.0.19
  .travis.yml
  README.md
  assets/js/index.min.js
  assets/js/package-lock.json
  assets/js/package.json
  autoload.php
  composer.json
  phpmd.xml
  readme.txt
  tests/bin/deploy/prepare_svn.sh
  tests/bin/deploy/wp-check-diff.sh
  tests/bin/deploy/wp-release.sh
  tests/bin/js/js-test.sh
Labels: Type: Release

#34 feat: Release/v0.0.20
  README.md
  assets/js/.eslintrc
  assets/js/index.min.js
  assets/js/package-lock.json
  assets/js/package.json
  autoload.php
  composer.lock
  readme.txt
  tests/bin/php/install-wp-tests.sh
  tests/bin/test.sh
Labels: Type: Release

#36 refactor: Feature/#35
  .coveralls.yml
  .gitignore
  .travis.yml
  composer.json
  composer.lock
  phpcs.xml
  phpmd.xml
  phpunit.xml
  tests/bin/deploy/clear_work_dir.sh
  tests/bin/deploy/create.sh
  tests/bin/deploy/env.sh
  tests/bin/deploy/prepare_release_files.sh
  tests/bin/deploy/prepare_svn.sh
  tests/bin/deploy/wp-check-diff.sh
  tests/bin/deploy/wp-release.sh
  tests/bin/js/install-npm.sh
  tests/bin/js/js-lint.sh
  tests/bin/js/js-test.sh
  tests/bin/php/install-composer.sh
  tests/bin/php/install-wp-tests.sh
  tests/bin/php/phpcs.sh
  tests/bin/php/phpmd.sh
  tests/bin/php/setup-wp-tests.sh
  tests/bin/php/wp-test.sh
  tests/bin/test.sh
Labels: Type: Refactoring

#37 feat: Release/v0.0.21
  .coveralls.yml
  .gitignore
  .travis.yml
  README.md
  assets/js/package.json
  autoload.php
  composer.json
  composer.lock
  phpcs.xml
  phpmd.xml
  phpunit.xml
  readme.txt
  tests/bin/deploy/clear_work_dir.sh
  tests/bin/deploy/create.sh
  tests/bin/deploy/env.sh
  tests/bin/deploy/prepare_release_files.sh
  tests/bin/deploy/prepare_svn.sh
  tests/bin/deploy/wp-check-diff.sh
  tests/bin/deploy/wp-release.sh
  tests/bin/js/install-npm.sh
  tests/bin/js/js-lint.sh
  tests/bin/js/js-test.sh
  tests/bin/php/install-composer.sh
  tests/bin/php/install-wp-tests.sh
  tests/bin/php/phpcs.sh
  tests/bin/php/phpmd.sh
  tests/bin/php/setup-wp-tests.sh
  tests/bin/php/wp-test.sh
  tests/bin/test.sh
Labels: Type: Release

#40 remove build js (#38)
  assets/js/.gitignore
  assets/js/index.min.js
Labels: Type: Maintenance

#41 feat: active popular plugins (#39)
  .gitignore
  .travis.yml
  composer.json
  tests/bootstrap.php
Labels: Type: Feature

#42 Release/v0.0.22
  .gitignore
  .travis.yml
  assets/js/.gitignore
  assets/js/index.min.js
  autoload.php
  composer.json
  composer.lock
  configs/config.php
  configs/filter.php
  readme.txt
  src/classes/models/sample.php
  tests/bootstrap.php
Labels: Type: Release
